@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
/*navbar*/
.navbar-brand{
  font-family: 'Bonheur Royale', cursive;
  font-size: 40px;
}
ul li:hover{
  background-color: rgb(170, 124, 38);
}
/*entire site*/
* p{
  font-size: 17px;
}

/*login and register templates*/
.login-register{
  font-size: 17px;
  background-color: rgb(165, 91, 235);
  padding: 30px;
}
.login-register .buttons{
  font-size: 14px;
  border-radius: 40px;
  width: 100px;
  height: 40px;
}
legend{
  font-family: 'Bonheur Royale', cursive;
  font-size: 70px;
}

/*index template*/
.quote-header{
  font-family: 'Bonheur Royale', cursive;
  font-size: 70px;
}
.quote-section{
  background-color: rgb(165, 91, 235);
  border-bottom-left-radius: 60px;
  border-top-right-radius: 70px;
}
cite{
  font-size: 17px;
  margin-bottom: 10px;
  color: #000;
  padding: 10px;
}
.blog-section-color{
  background-color:rgb(107, 106, 106);
  opacity: 0.9;
}
.blogs-heading{
  color: #fff;
  margin-left: 60%;
}
.blogs-heading h1{
  font-family: 'Bonheur Royale', cursive;
  font-size: 70px;
}
.subscriber{
  width: 350px;
}
.blog-content{
  display: flex;
  flex-wrap: wrap;
}
.blog-content-index{
  padding: 20px;
}
.card{
  width: 390px;
  height: 100%;
  padding: 4px;
  margin: 5px 5px;
}
.card:hover{
  box-shadow: 0px 30px 40px;
}
.writer-img{
  height: 60px;
  width: 60px;
}
.comment-section{
  margin-left: 80px;
  height: 25px;
}
/*comments template*/
.comment-template{
  background-color: rgb(165, 91, 235);
  height: 500px;
}
.comment-form{
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  height: 130px;
}
/*profile template*/
.blog-action{
  height: 30px;
  font-size: 12px;
}
.user-blogs{
  font-family: 'Bonheur Royale', cursive;
  font-size: 70px;
}
/*update and blog template*/
.profile-update,
.newblog-page{
  background-color: rgb(165, 91, 235);
  padding: 30px;
}
.update-form,
.newblog-form,
.login-register-forms{
  background-color: #fff;
  border-radius: 30px;
  padding: 14px;
}